@model Restaurant.Models.ApplicationUser
@{
    ViewData["Title"] = "Lock";
}

<h2 class="text-info">Lock @Model.FristName @Model.Lastname</h2>


<div class="border">
    <div>
        <form asp-action="Lock">
            <input asp-for="Id" hidden />
            <fieldset disabled>
                <div class="form-group row mt-2">
                    <div class="col-2">
                        <label asp-for="FristName" class="control-label m-2"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="FristName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Lastname" class="control-label m-2"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="Lastname" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Email" class="control-label m-2"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="Email" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="PhoneNumber" class="control-label m-2"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="LockoutEnd" class="control-label m-2"></label>
                    </div>
                    <div class="col-4">
                        <input asp-for="LockoutEnd" class="form-control" id="datepicker" type="date" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="LockoutReason" class="control-label m-2"></label>S
                    </div>
                    <div class="col-4">
                        <textarea asp-for="LockoutReason" class="form-control" style="height:100px;"></textarea>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row m-2">
                <a asp-action="Index" class="btn btn-outline-success ">Back</a>
                <input type="submit" value="Lock" class="btn btn-outline-danger ml-2" />
            </div>
        </form>
    </div>
</div>
